In [2]:
import numpy as np
import pandas as pd
import copy 

# Read Pokedex.
# Atenció: Les rutes amb Python i Jupyter Notebook poden anar diferent.

# Ruta Python: ./Sessió8_Pandas/pokedex.csv
pokedex: pd.DataFrame = pd.read_csv("pokedex.csv", sep=",")

display(pokedex.head(5))

,Id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

## Mostra el nom i la HP de les 15 últimes files.

In [3]:
pokedex.loc[ : , ['Name', 'HP'] ].tail(15)

                    Name   HP
785  GourgeistSmall Size   55
786  GourgeistLarge Size   75
787  GourgeistSuper Size   85
788             Bergmite   55
789              Avalugg   95
790               Noibat   40
791              Noivern   85
792              Xerneas  126
793              Yveltal  126
794     Zygarde50% Forme  108
795              Diancie   50
796  DiancieMega Diancie   50
797  HoopaHoopa Confined   80
798   HoopaHoopa Unbound   80
799            Volcanion   80

## Coordenades. Extreure l'Id, el Nom, l'HP i de diversos Pokemon, els que tenen index 20,21 i 22.

In [4]:
pokedex.loc[ [20,21,22] , ['Id', 'Name', 'HP'] ]

    Id       Name  HP
20  16     Pidgey  40
21  17  Pidgeotto  63
22  18    Pidgeot  83

## Màscares de selecció.

### Filtrar només els Pokemons amb HP >= 50.

In [5]:
mask_hp_over50 = (pokedex.loc[ : , 'HP' ] >= 50)

print(pokedex.loc[mask_hp_over50, :])

      Id                   Name   Type 1  Type 2  Total  HP  Attack  Defense  \
1      2                Ivysaur    Grass  Poison    405  60      62       63
2      3               Venusaur    Grass  Poison    525  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison    625  80     100      123
5      5             Charmeleon     Fire     NaN    405  58      64       58
6      6              Charizard     Fire  Flying    534  78      84       78
..   ...                    ...      ...     ...    ...  ..     ...      ...
795  719                Diancie     Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy    700  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost    600  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark    680  80     160       60
799  721              Volcanion     Fire   Water    600  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
5         80       65     80           1      False
6        109       85    100           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[652 rows x 13 columns]

2. Posa el nom i l'id dels pokemons legendaris.

In [6]:
# El boolean l'he de ficar sense comes.

maskLeg = pokedex.loc[:, 'Legendary'] == True

display(pokedex.loc[maskLeg, ["Id", "Name"]])

      Id                 Name
156  144             Articuno
157  145               Zapdos
158  146              Moltres
162  150               Mewtwo
163  150  MewtwoMega Mewtwo X
..   ...                  ...
795  719              Diancie
796  719  DiancieMega Diancie
797  720  HoopaHoopa Confined
798  720   HoopaHoopa Unbound
799  721            Volcanion

[65 rows x 2 columns]

3. Volem obtenir els pokemons que tinguin o bé el tipus 1 o el tipus 2 Water.

In [7]:
mask5 = (pokedex.loc[:,"Type 1"] == "Water") | (pokedex.loc[:,"Type 2"] == "Water")
display(pokedex.loc[mask5,:])

# Example 2
mask5 = (pokedex.loc[:,"Type 1"] == "Water")
mask6 = (pokedex.loc[:,"Type 2"] == "Water")
display(pokedex.loc[mask5|mask6,:])

# Example 3
display(pokedex.loc[(pokedex.loc[:,"Type 1"] == "Water") | (pokedex.loc[:,"Type 2"] == "Water")
, :])

,Id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,689,Barbaracle,Rock,Water,500,72,105,115,54,86,68,6,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

,Id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,689,Barbaracle,Rock,Water,500,72,105,115,54,86,68,6,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

,Id,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
59,54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
759,689,Barbaracle,Rock,Water,500,72,105,115,54,86,68,6,False
760,690,Skrelp,Poison,Water,320,50,60,60,60,60,30,6,False
762,692,Clauncher,Water,NaN,330,50,53,62,58,63,44,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

## Màscares de substitució.

### Fes que tots els pokemon amb HP < 50, que ara tinguin HP = 50.


### Fes que tots els pokemon de generació 1 tinguin 20 punts més d'HP.

In [8]:
pokedex2 = copy.deepcopy(pokedex)

# Creem màscara.
mask2 = (pokedex2.loc[ : , 'HP' ] <= 50)

# Pas 2. Substituim valors màscara.
pokedex2.loc[ mask2, ['HP'] ] = 50 

# Pas 3. Validació. Consultem el resultat després d'aplicar la màscara.
print(pokedex2.loc[mask2, : ])

      Id                   Name  Type 1  Type 2  Total  HP  Attack  Defense  \
0      1              Bulbasaur   Grass  Poison    318  50      49       49
4      4             Charmander    Fire     NaN    309  50      52       43
9      7               Squirtle   Water     NaN    314  50      48       65
13    10               Caterpie     Bug     NaN    195  50      30       35
14    11                Metapod     Bug     NaN    205  50      20       55
..   ...                    ...     ...     ...    ...  ..     ...      ...
780  710  PumpkabooAverage Size   Ghost   Grass    335  50      66       70
781  710    PumpkabooSmall Size   Ghost   Grass    335  50      66       70
790  714                 Noibat  Flying  Dragon    245  50      30       35
795  719                Diancie    Rock   Fairy    600  50     100      150
796  719    DiancieMega Diancie    Rock   Fairy    700  50     160      110

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
4         60       50     65           1      False
9         50       64     43           1      False
13        20       20     45           1      False
14        25       25     30           1      False
..       ...      ...    ...         ...        ...
780       44       55     51           6      False
781       44       55     56           6      False
790       45       40     55           6      False
795      100      150     50           6       True
796      160      110    110           6       True

[211 rows x 13 columns]

In [9]:
pokedex2 = copy.deepcopy(pokedex)

# Creem màscara.
mask2 = (pokedex2.loc[ : , 'Generation' ] == 1)

# Pas 2. Substituim valors màscara.
pokedex2.loc[ mask2, ['HP'] ] += 20 

# Pas 3. Validació. Consultem el resultat després d'aplicar la màscara.
print(pokedex2.loc[mask2, : ])

      Id                   Name   Type 1    Type 2  Total   HP  Attack  \
0      1              Bulbasaur    Grass    Poison    318   65      49
1      2                Ivysaur    Grass    Poison    405   80      62
2      3               Venusaur    Grass    Poison    525  100      82
3      3  VenusaurMega Venusaur    Grass    Poison    625  100     100
4      4             Charmander     Fire       NaN    309   59      52
..   ...                    ...      ...       ...    ...  ...     ...
161  149              Dragonite   Dragon    Flying    600  111     134
162  150                 Mewtwo  Psychic       NaN    680  126     110
163  150    MewtwoMega Mewtwo X  Psychic  Fighting    780  126     190
164  150    MewtwoMega Mewtwo Y  Psychic       NaN    780  126     150
165  151                    Mew  Psychic       NaN    600  120     100

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
1         63       80       80     60           1      False
2         83      100      100     80           1      False
3        123      122      120     80           1      False
4         43       60       50     65           1      False
..       ...      ...      ...    ...         ...        ...
161       95      100      100     80           1      False
162       90      154       90    130           1       True
163      100      154      100    130           1       True
164       70      194      120    140           1       True
165      100      100      100    100           1      False

[166 rows x 13 columns]


### Fes que tots els pokemon de tipus elèctric, que en vez de dirse 'Electric', ahora tendran un símbol d'un raig. 🗲 => U+1F5F2

In [10]:
pokedex2 = copy.deepcopy(pokedex)

# Màscara de substitució de valors.

# Pas 1. Aplicar la màscara per seleccionar els que són de tipus elèctric.
mask_electrics = (pokedex2.loc[ : , 'Type 1' ] == 'Electric') | (pokedex2.loc[ : , 'Type 2' ] == 'Electric')

# Pas 2. Aplicar la màscara; és a dir, modificar només les files del dataframe que compleixen la màscara.
#  df. 🗲 => U+1F5F2
pokedex2.loc[mask_electrics,['Type 1'] ] = "🗲"
pokedex2.loc[mask_electrics,['Type 2'] ] = "🗲"

# Pas 3. Validació. Consultem el resultat després d'aplicar la màscara.
print(pokedex2.loc[mask_electrics, : ])

      Id                      Name Type 1 Type 2  Total   HP  Attack  Defense  \
30    25                   Pikachu      🗲      🗲    320   35      55       40
31    26                    Raichu      🗲      🗲    485   60      90       55
88    81                 Magnemite      🗲      🗲    325   25      35       70
89    82                  Magneton      🗲      🗲    465   50      60       95
108  100                   Voltorb      🗲      🗲    330   40      30       50
109  101                 Electrode      🗲      🗲    480   60      50       70
134  125                Electabuzz      🗲      🗲    490   65      83       57
146  135                   Jolteon      🗲      🗲    525   65      65       60
157  145                    Zapdos      🗲      🗲    580   90      90       85
184  170                  Chinchou      🗲      🗲    330   75      38       38
185  171                   Lanturn      🗲      🗲    460  125      58       58
186  172                     Pichu      🗲      🗲    205   20      40       15
193  179                    Mareep      🗲      🗲    280   55      40       40
194  180                   Flaaffy      🗲      🗲    365   70      55       55
195  181                  Ampharos      🗲      🗲    510   90      75       85
196  181     AmpharosMega Ampharos      🗲      🗲    610   90      95      105
258  239                    Elekid      🗲      🗲    360   45      63       37
262  243                    Raikou      🗲      🗲    580   90      85       75
337  309                 Electrike      🗲      🗲    295   40      45       40
338  310                 Manectric      🗲      🗲    475   70      75       60
339  310   ManectricMega Manectric      🗲      🗲    575   70      75       80
340  311                    Plusle      🗲      🗲    405   60      50       40
341  312                     Minun      🗲      🗲    405   60      40       50
448  403                     Shinx      🗲      🗲    263   45      65       34
449  404                     Luxio      🗲      🗲    363   60      85       49
450  405                    Luxray      🗲      🗲    523   80     120       79
464  417                 Pachirisu      🗲      🗲    405   60      45       70
513  462                 Magnezone      🗲      🗲    535   70      70      115
517  466                Electivire      🗲      🗲    540   75     123       67
531  479                     Rotom      🗲      🗲    440   50      50       77
532  479           RotomHeat Rotom      🗲      🗲    520   50      65      107
533  479           RotomWash Rotom      🗲      🗲    520   50      65      107
534  479          RotomFrost Rotom      🗲      🗲    520   50      65      107
535  479            RotomFan Rotom      🗲      🗲    520   50      65      107
536  479            RotomMow Rotom      🗲      🗲    520   50      65      107
581  522                   Blitzle      🗲      🗲    295   45      60       32
582  523                 Zebstrika      🗲      🗲    497   75     100       63
648  587                    Emolga      🗲      🗲    428   55      75       60
656  595                    Joltik      🗲      🗲    319   50      47       50
657  596                Galvantula      🗲      🗲    472   70      77       60
663  602                    Tynamo      🗲      🗲    275   35      55       40
664  603                 Eelektrik      🗲      🗲    405   65      85       70
665  604                Eelektross      🗲      🗲    515   85     115       80
679  618                  Stunfisk      🗲      🗲    471  109      66       84
704  642  ThundurusIncarnate Forme      🗲      🗲    580   79     115       70
705  642    ThundurusTherian Forme      🗲      🗲    580   79     105       70
707  644                    Zekrom      🗲      🗲    680  100     150      120
764  694                Helioptile      🗲      🗲    289   44      38       33
765  695                 Heliolisk      🗲      🗲    481   62      55       52
772  702                   Dedenne      🗲      🗲    431   67      58       57

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
30        50       50     90           1      False
31        90       80    110           1      False
88        95       55     45           1      False
89       120       70     70           1      False
108       55       55    100           1      False
109       80       80    140           1      False
134       95       85    105           1      False
146      110       95    130           1      False
157      125       90    100           1       True
184       56       56     67           2      False
185       76       76     67           2      False
186       35       35     60           2      False
193       65       45     35           2      False
194       80       60     45           2      False
195      115       90     55           2      False
196      165      110     45           2      False
258       65       55     95           2      False
262      115      100    115           2       True
337       65       40     65           3      False
338      105       60    105           3      False
339      135       80    135           3      False
340       85       75     95           3      False
341       75       85     95           3      False
448       40       34     45           4      False
449       60       49     60           4      False
450       95       79     70           4      False
464       45       90     95           4      False
513      130       90     60           4      False
517       95       85     95           4      False
531       95       77     91           4      False
532      105      107     86           4      False
533      105      107     86           4      False
534      105      107     86           4      False
535      105      107     86           4      False
536      105      107     86           4      False
581       50       32     76           5      False
582       80       63    116           5      False
648       75       60    103           5      False
656       57       50     65           5      False
657       97       60    108           5      False
663       45       40     60           5      False
664       75       70     40           5      False
665      105       80     50           5      False
679       81       99     32           5      False
704      125       80    111           5       True
705      145       80    101           5       True
707      120      100     90           5       True
764       61       43     70           6      False
765      109       94    109           6      False
772       81       67    101           6      False


### Fes que els valors np.nan que hi ha a la filera de Type 2 hi posi "Not Avaliable"
Ref:
https://pandas.pydata.org/docs/user_guide/10min.html#missing-data

Pista: mètode fillna
fillna(value="Not Avaliable")

In [11]:
pokedex2 = copy.deepcopy(pokedex)

# Primer mirem si hi ha han.
print("Nan values", pokedex2['Type 2'].isnull().values.sum())

# Pas. Podem aplicar dirèctament la màscara, fillna el que fa és 
# mirar si és np.nan o no, i si ho hes ho canvia pel valor.
mask_change_nan = pokedex2.loc[:,'Type 2'].fillna('Not Avaliable')
pokedex2.loc[:,'Type 2'] = mask_change_nan

# Pas 3. Validació. Consultem el resultat després d'aplicar la màscara.
print(pokedex2)

Nan values 386
      Id                   Name   Type 1         Type 2  Total  HP  Attack  \
0      1              Bulbasaur    Grass         Poison    318  45      49
1      2                Ivysaur    Grass         Poison    405  60      62
2      3               Venusaur    Grass         Poison    525  80      82
3      3  VenusaurMega Venusaur    Grass         Poison    625  80     100
4      4             Charmander     Fire  Not Avaliable    309  39      52
..   ...                    ...      ...            ...    ...  ..     ...
795  719                Diancie     Rock          Fairy    600  50     100
796  719    DiancieMega Diancie     Rock          Fairy    700  50     160
797  720    HoopaHoopa Confined  Psychic          Ghost    600  80     110
798  720     HoopaHoopa Unbound  Psychic           Dark    680  80     160
799  721              Volcanion     Fire          Water    600  80     110

     Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         49       65       65     45           1      False
1         63       80       80     60           1      False
2         83      100      100     80           1      False
3        123      122      120     80           1      False
4         43       60       50     65           1      False
..       ...      ...      ...    ...         ...        ...
795      150      100      150     50           6       True
796      110      160      110    110           6       True
797       60      150      130     70           6       True
798       60      170      130     80           6       True
799      120      130       90     70           6       True

[800 rows x 13 columns]

In [12]:
### Solució més curta, en aquest cas que només tenim NaN en una fila.
pokedex2 = copy.deepcopy(pokedex)

# Tot el fitxer
pokedex2.fillna(value = "Not Available")

# Només la columna
pokedex2.loc[:,'Type 2'].fillna(value = "Not Available")

0             Poison
1             Poison
2             Poison
3             Poison
4      Not Available
           ...
795            Fairy
796            Fairy
797            Ghost
798             Dark
799            Water
Name: Type 2, Length: 800, dtype: object