## Exemple funcions agrupació i gràfiques.

### Crea un dataframe amb dades de 100 pacients generades aleatòriament.
Per ara ens interessen la edat, el pes i l'altura.

In [7]:
import numpy as np 
import pandas as pd
import copy

min_value_edat = 20
max_value_edat = 120
min_value_altura = 1.20
max_value_altura = 2.20
min_value_pes = 40
max_value_pes = 140

df_pacients = pd.DataFrame({ 
    'edat' : np.random.randint(min_value_edat, max_value_edat ,100),
    'altura' : np.random.uniform(min_value_altura, max_value_altura , size=100),
    'pes' : np.random.randint(min_value_pes, max_value_pes, size=100)
})
df_pacients
# df.loc[:,"nota"].plot(kind="bar")

## Copia de seguretat.

df_pacientscopia = copy.deepcopy(df_pacients)

    edat    altura  pes
0     86  1.371216   60
1     34  1.424194   44
2    115  1.796505   44
3     41  2.099791  125
4     35  1.576594  127
..   ...       ...  ...
95   116  1.740780   88
96    38  2.128850   43
97    77  1.651381   63
98    76  1.881233   87
99    52  1.689754   51

[100 rows x 3 columns]

#### Crea una nova columna, imc; en la que el seu valor sigui el resultat de l'índex de massa corporal.
imc = pes / (altura ** 2)

Referència:
https://python-forum.io/thread-18759.html

In [16]:
def calcula_imc(df_pacients) -> float:
    return round(df_pacients['pes'] / df_pacients['altura'] ** 2,4)

# axis=1, apliquem resultats a les files.
df_pacients['imc'] = df_pacients.apply(calcula_imc, axis=1)

#dfcopy.apply(lambda column:column.sum())
df_pacients

    edat    altura  pes      imc
0     86  1.371216   60  31.9109
1     34  1.424194   44  21.6927
2    115  1.796505   44  13.6331
3     41  2.099791  125  28.3503
4     35  1.576594  127  51.0933
..   ...       ...  ...      ...
95   116  1.740780   88  29.0399
96    38  2.128850   43   9.4881
97    77  1.651381   63  23.1018
98    76  1.881233   87  24.5830
99    52  1.689754   51  17.8617

[100 rows x 4 columns]

#### Mostra la mitjana aritmètica de l'IMC de tots els pacients.

In [18]:
df_pacients["imc"].mean()

35.748215999999985

### Classifica els pacients en 2 categories, els que tenen 65 o menys anys i els que tenen més.
Primer, crea una nova columna que indiqui si té 65 o més o si te menys cada pacient.

[Exercici semblant, notes alumnes](./AutoCategoricalGrade.ipynb)

In [ ]:
def equal_or_over_65_years(age: int) -> str:
    if age < 65:
        result = "Under 65"
    else:
        result = "Equal or Over 65"

    return result


# # Create a new column of categorical values
# numerical_grades:   pd.Series = students.loc[:, "grade"]
# categorical_grades: pd.Series = numerical_grades.apply(get_categorical_grade)
# students.loc[:, "cat_grade"]  = categorical_grades

# # Convert to Category dtype
# students.loc[:, "cat_grade"] = students.loc[:, "cat_grade"].astype("category")

# # Set all categories to the type
# all_categorical_grades = ["Insuficiente", "Suficiente", "Bien", "Notable", "Excelente"]
# students.loc[:, "cat_grade"] = students.loc[:, "cat_grade"].cat.set_categories(all_categorical_grades)
# students.loc[:, "cat_grade"]

# students.sort_values(by=["cat_grade", "grade"], ascending=False)